asgiref @ file:///tmp/build/80754af9/asgiref_1625643473416/work
certifi==2020.6.20
charset-normalizer==2.0.12
dj-database-url==0.5.0
Django @ file:///tmp/build/80754af9/django_1625585912945/work
django-appconf==1.0.5
django-heroku==0.3.1
django-heroku-connect==0.25.0
gunicorn @ file:///Users/builder/ci_310/gunicorn_1642504456862/work
heroku==0.1.4
idna==3.3
psycopg2 @ file:///Users/builder/ci_310/psycopg2_1642535040511/work
python-dateutil==1.5
pytz==2021.3
requests==2.27.1
sqlparse==0.4.1
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
urllib3==1.26.9
whitenoise==6.1.0
